      @font-face {
        font-family: Raleway;
        font-style: normal;
        font-weight: 400;
        src: local(Raleway), url(http://themes.googleusercontent.com/static/fonts/raleway/v7/IczWvq5y_Cwwv_rBjOtT0w.woff) format(woff);
      }
      @font-face {
        font-family: Raleway;
        font-style: normal;
        font-weight: 700;
        src: local(Raleway Bold), local(Raleway-Bold), url(http://themes.googleusercontent.com/static/fonts/raleway/v7/JbtMzqLaYbbbCL9X6EvaIxsxEYwM7FgeyaSgU71cLG0.woff) format(woff);
      }
      html, body {
        width: 100%;
        height: 100%;
        margin: 0px;
        font-family: Raleway;
        color: rgb(56, 56, 56);

      }
      body {
        background-color: transparent;
      }
      #wrapper {
        position: relative;
        min-height: 400px;
		margin-bottom:300px;
		margin-top:0px;
      }
      @media screen and (min-width: 1200px) {
        #wrapper {
          width: 100%;
        }
      }
      @media screen and (max-width: 1200px) {
        #wrapper {
          width: 1200px;
        }
      }
      a {
        text-decoration: none;
      }
      .logo {
        position: absolute;
        padding: 10px;
        font-size: 20px;
        left: 300px;
      }
      .logo img {
        position: absolute;
        top: -20px;
        left: -92px;
        width: 92px;
        height: 85px;
      }
      .logo strong {
        color: rgb(51, 149, 143);
        font-size: 24px;
      }
      .gray-line {
        position: absolute;
        background-color: rgb(229, 229, 229);
        width: 100%;
        height: 85px;
        top: 85px;
      }
      nav {
        position: absolute;
        left: 550px;
      }
      nav a:hover {
        color: rgb(138, 209, 206);
      }
      nav a {
        line-height: 27px;
        font-size: 14px;
        padding: 0px 30px;
        color: rgb(56, 56, 56);
        -webkit-transition: color 0.5s ease 0s;
        transition: color 0.5s ease 0s;
        white-space: nowrap;
      }
      nav .current-page {
        color: rgb(59, 186, 181);
      }
      nav ul ul {
        display: none;
      }
      nav ul li:hover > ul {
        display: block;
		-webkit-animation: moveFromRight .6s ease both;
		-moz-animation: moveFromRight .6s ease both;
		animation: moveFromRight .6s ease both;
      }
      nav ul {
        padding: 0px 20px;
        list-style: none;
        position: relative;
        display: inline-table;
      }
      nav ul li {
        padding: 10px 0px;
        float: left;
      }
      nav ul ul {
        padding: 0px;
        position: absolute;
        top: 100%;
      }
      nav ul ul li {
        float: none;
        position: relative;
      }
      
      .justify {
        text-align: justify;
      }
      hr {
        border-width: 0px 1px 1px;
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
        border-right-color: rgb(229, 125, 34);
        border-bottom-color: rgb(229, 125, 34);
        border-left-color: rgb(229, 125, 34);
      }
	  hr .gray-hr{
        border-width: 1px 1px 1px;
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
        border-right-color: rgb(229, 229, 229);
        border-bottom-color: rgb(229, 229, 229);
        border-left-color: rgb(229, 229, 229);
	  }
      footer {
		  position:relative;
        width: 100%;
        height: 150px;
        background-color: rgb(59, 186, 181);
        bottom: 0px;
      }
      .footer-item {
        color: rgb(229, 229, 229);
        position: relative;
        width: 200px;
        float: left;
        left: 100px;
        margin-left: 100px;
        padding: 40px;
        font-size: 12px;
      }
      footer div div {
        position: absolute;
        left: -20px;
        top: 30px;
        width: 45px;
        height: 45px;
        background-color: rgb(247, 200, 14);
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
      }
      footer div div img {
        width: 35px;
        height: 35px;
      }
	  footer a img{
		  width:25px;
		  height:25px;
	  }
	  
	  	header {
	position:fixed;
	top:0px;
	right:10px;
	z-index:3;
	display: block;
	text-align: right;
	padding: 10px 10px;
	height: 25px;
	width: 100px;
	cursor: pointer;
	border: 1px solid rgb(56,56,56);
	font-size:13px;
	background-color:rgb(56,56,56);
	color:rgb(225,225,225);
	border-radius:0 0 10px 10px;
	}
	header a{
	color:rgb(225,225,225);
	-webkit-transition: color 0.5s ease 0s;
	transition: color 0.5s ease 0s;
	}
	header a:hover{	
		color: rgb(138, 209, 206);
	}
	header:hover ul {
	display: block;
	-webkit-animation: moveFromTop .6s ease both;
	-moz-animation: moveFromTop .6s ease both;
	animation: moveFromTop .6s ease both;
	}
	header ul {
	display:none;
	width: 100px;
	background-color:rgb(56,56,56);
	padding: 10px 10px;
	margin-left: -11px;
	margin-top: -20px;
	border: 1px solid rgb(56,56,56);
	box-shadow: 0px 13px 25px rgba(0,0,0, 0.2);
	border-radius:0 0 10px 10px;
	}
	
	header ul li {
	list-style-type: none;
	display: block;
	font-size: 13px;
	height: 20px;
	padding: 5px 0;
	}
@-webkit-keyframes moveFromTop {
	from { -webkit-transform: translateY(-100%); }
}
@-webkit-keyframes moveToTop {
	to { -webkit-transform: translateY(-100%); }
}	
		.right-align{
		text-align:right;
	}
      input[type="text"],input[type="email"],input[type="password"],input[type="tel"],input[type="number"] {
      	height:30px;
      	font-size:16px;
        font-family: Raleway;
        color: rgb(56, 56, 56);
        background-color: rgb(229, 229, 229);
        padding: 5px;
		margin: 0px 0px 5px;
		box-sizing: border-box;
        border: 0px solid transparent;
      }
      textarea {
      	width:200px;
        height:120px;
      	font-size:16px;
        font-family: Raleway;
        color: rgb(56, 56, 56);
        background-color: rgb(229, 229, 229);
        padding: 5px;
		margin: 0px 0px 5px;
		box-sizing: border-box;
        border: 0px solid transparent;
        resize:none;
      }
	
/************************ End For EVERY PAGE *********************************/
/************************ start for HOME PAGE ********************************/
      .circle {
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
        background-color: rgb(59, 186, 181);
      }
      .home-page-leftside {
        position: absolute;
        top: 200px;
        left: 200px;
        width: 450px;
        height: 429px;
      }
      .home-page-rightside {
        position: absolute;
        top: 200px;
        left: 700px;
        width: 450px;
        color: rgb(140, 139, 139);
        font-size: 36px;
        font-weight: bold;
      }
      .home-page-rightside strong {
        font-size: 85px;
      }
      .promotion-display {
        width: 420px;
        position: absolute;
        top: 400px;
        left: 700px;
      }
      .promotion-display h1 {
        padding: 0px 0px 0px 70px;
        color: rgb(229, 125, 34);
        font-size: 24px;
      }
      .promotion-display p {
        padding: 0px 10px 0px 70px;
      }
      .star {
        position: absolute;
        width: 40px;
        height: 35px;
        background-color: rgb(229, 125, 34);
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
      }
      .star img {
        width: 40px;
        height: 40px;
        position: absolute;
        left: -15px;
        top: -15px;
      }
      
/************************ end for HOME PAGE ********************************/
/************************ start for FEEDBACK PAGE **************************/
      .page-content {		
	   position:relative;
		width: 800px;
        min-height: 500px;
        left: 200px;
        top: 240px;
		margin:0px;
	  }
      .page-content h1 {
        color: rgb(140, 139, 139);
        font-size: 80px;
		margin:0px;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
      }
      .page-content p {
        padding: 0px 250px;
        text-align: justify;
      }
      .feedback table{
        padding-left:240px;
      }
      .feedback-submit a{
      	background-color:rgb(247, 200, 14);
        padding:5px 10px;
        color:rgb(254, 253, 253);
        float:right;
      }
	  .social-share{
		  width:30px;
		  height:30px;
	  }
/************************ end for FEEDBACK PAGE **************************/
/************************ start for PRODUCT PAGE *************************/
      .product-list {
        width: 700px;
		position:relative;
        min-height: 220px;
        left: 200px;
        top: 240px;
	  }
	  .product-image img{
		  width:200px;
		  height:200px;
	  }
	  .product-description{
		  vertical-align:top;
		width:400px;
	  }
      .product-description h1 {
		margin: 20px 10px;  
        color: rgb(229, 125, 34);
        font-size: 18px;
      }
      .product-description p {
        margin: 20px 10px;
      }
      .product-description .view{
		position:relative;
		margin-left:10px;
		top:120px;
        background-color: rgb(51, 153, 204);
	  }
      .product-item a {
        margin: 20px 10px;
        padding: 10px;
        font-size: 16px;
        color: rgb(254, 253, 253);
        border: 1px solid rgb(255, 255, 255);
      }
      .product-buttons {
		  white-space:nowrap;
        float: right;
      }
      .add-cart {
        float: right;
        background-color: rgb(146, 205, 0);
      }
      .wish-list {
        float: right;
        background-color: rgb(247, 200, 14);
      }

      .favourite {
        float: right;
        text-align: right;
        background-color: rgb(205, 185, 156);
      }
      .favourite img {
        z-index: 1;
        position: relative;
        float: left;
        width: 25px;
        height: 25px;
      }
	  #product-add-to-cart{
		  position:absolute;
		  top:180px;
		  left:100px;
		  background-color:rgb(229,229,229);
		  width:500px;
		  height:100px;
		  padding:10px;
	  }
	  #product-add-to-cart input[type=submit]{
		  padding:10px;
		  cursor:pointer;
	  }
/************************ end for PRODUCT PAGE *************************/

/************************** PERSONAL INFORMATION PAGE ******************/
	.personal-content{
		position:relative;
		width:800px;
		left:220px;
		top:240px;
	}
	.personal-image{
		background-color:rgb(146, 205, 0);
		width:800px;
		height:150px;
	}
	.personal-image img{
		position:absolute;
		width:120px;
		height:120px;
		border-radius:50%;
		margin-left:100px;
		margin-top:15px;
	}
	.gold-line{
		position:absolute;
		left:200px;
		top: 50px;
		width:600px;
		height:50px;
		background-color:rgb(247, 200, 14);
	}
	.vertical-gray-line{
		position:relative;
		width:50px;
		height:1100px;
		background-color:rgb(229, 229, 229);
		left:135px;
	}
	#personal-info-error{
		background-color:rgb(255,0,0);
		position:relative; 
		width:780px;
		height:30px;
		top:200px;
		left:220px;
		text-align:center;
		color:white;
		padding:10px;
	}
	.personal-info{
		position:absolute;
		top:200px;
		left:185px;
	}
	.personal-info td{
		padding:10px;
	}
	.personal-info .gold-bg{
		background-color:rgb(247, 200, 14);
		font-size:24px;
	}
	.personal-info .blue-bg{
		background-color:rgb(86, 186, 236);
		font-size:24px;
	}
	select, option{
      	height:30px;
      	font-size:16px;
        font-family: Raleway;
        color: rgb(56, 56, 56);
        background-color: rgb(229, 229, 229);
        padding: 5px;
		margin: 0px 0px 5px;
		box-sizing: border-box;
        border: 0px solid transparent;
	}
	.personal-info input[type=submit] {
		cursor:pointer;
        margin-left:300px;
        padding: 10px;
        font-size: 16px;
		font-weight:bold;
        color: rgb(56, 56,56);
        border: 1px solid rgb(255, 255, 255);
      }
/**************************end of PERSONAL INFORMATION PAGE ******************/

/*****************************CHECKOUT PAGE**********************************/
.shopping-cart{
		width:800px;
		position:relative;
		margin-left:230px;
		top:230px;
		min-height:300px;
	}
	.cart-item{
		width:100%;
		height:50px;
		color:rgb(225,225,225);
		margin:10px;
	}
	.cart-item td{
		padding:10px;
	}
	.total-amount{
		padding:10px;
		height:30px;
		width:200px;
		float:right;
		text-align:right;
	}
	.cart-yellow-bg{
		background-color:rgb(247, 200, 14);
		color:rgb(56,56,56);
	}
	.cart-blue-bg{
		background-color:rgb(51, 153, 204);
	}
	.cart-gray-bg{
		background-color:rgb(229, 229, 229);
		color:rgb(56,56,56);
	}
	.cart-green-bg{
		background-color:rgb(146, 205, 0);
	}
	.shopping-cart input[type=button]{
		cursor:pointer;
        padding: 10px;
        font-size: 16px;
		font-weight:bold;
        color: rgb(225,225,225);
		background-color:rgb(255,0,0);
        border: 1px solid rgb(255, 255, 255);
		margin:10px;
	}
	.shopping-cart input[type=submit]{
		background-color:rgb(59, 186, 181);
		cursor:pointer;
        padding: 10px;
        font-size: 16px;
		font-weight:bold;
        color: rgb(255,255,255);
		border: 1px solid rgb(255, 255, 255);
		float:right;
	}
/***************************end of CHECKOUT PAGE**********************************/
/************************** LOGIN PAGE ******************************/

	.login{
		background:url(../images/login.png);
		width:310px;
		height:423px;
		background-size:100%;
		background-repeat:no-repeat;
		position:relative;
		top:220px;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
		color:white;
		-moz-animation:loginanimation 5s infinite; 
		-webkit-animation:loginanimation 5s infinite;
	}
.login-error{
		-moz-animation:loginanimation 1s infinite; 
		-webkit-animation:loginanimation 1s infinite;

}
.error-msg{
	position:relative;
	width:300px;
	margin-left:auto;
	margin-right:auto;
	top:230px;
	padding:10px;
	text-align:center;
	background-color:red;
	color:white;
	border-radius:20px 0 20px 0;
}
@-moz-keyframes loginanimation /* Firefox */
	{
	0%   {background:url(../images/login.png);}
	50%   {background:url(../images/loginred.png);}
	100%   {background:url(../images/login.png);}
	}
	 
@-webkit-keyframes loginanimation /* Firefox */
	{
	0%   {background:url(../images/login.png);}
	50%   {background:url(../images/loginred.png);}
	100%   {background:url(../images/login.png);}
	}	
	.login input,.login label{
		position:relative;
		top:100px;
		margin-top:20px;
	}
	.login input[type=submit]{
		margin-top:40px;
		padding:10px;
		background-color:rgb(51, 153, 204);
		border:none;
		cursor:pointer;
		font-weight:900;
		font-size:16px;
		color:rgb(225,225,225);
	}

/**************************end of LOGIN PAGE ******************************/
/**************************LUCKY DRAW PAGE *******************************/
	.daily-play{
		position:relative;
		width:800px;
		top:200px;
		left:200px;
	}
	.daily-play td{
		vertical-align:top;
	}
	.coupon{
		width:50px;
		height:50px;
	}
	.flash-game{
		float:right;
	}
	.daily-play input[type=submit],.daily-play input[type=button]{
		cursor:pointer;
		padding:5px 10px;
		background-color:rgb(51, 153, 204);
		border:none;
	}
	
/**************************end of LUCKY DRAW PAGE *******************************/

/************************* SIDE BAR CART **************************************/
.side-show-cart{
	cursor:pointer;
	width:80px;
	height:50px;
	border-radius:10px 0 0 10px;
	background-color:rgb(229,229,229);
	position:fixed;
	right:0px;
	bottom:50px;
	z-index:2;
	-webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.side-show-cart img{
	width:80px;
	height:40px;
}
.flip{
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
}
.side-hidden-cart{
	width:150px; 
	min-height:100px; 
	background-color:rgb(229,229,229);
	position:fixed;
	right:0px;
	bottom:50px;
	border-radius:10px 0 0 10px;
	padding:20px 0 50px 20px;
	color:rgb(121, 184, 55);
	-webkit-animation: moveToRight 0s ease both;
	-moz-animation: moveToRight 0s ease both;
	animation: moveToRight 0s ease both;
	z-index:1;
}
.side-hidden-cart a{
	background-color:rgb(51, 153, 204);
	padding:5px;
	position:absolute;
	bottom:20px;
	font-size:14px;
	color:rgb(255,255,255);
}
.side-hidden-cart td{
	color:rgb(68, 64, 65);
	font-size:14px;
}
.show-cart{
	-webkit-animation: moveFromRight .6s ease both;
	-moz-animation: moveFromRight .6s ease both;
	animation: moveFromRight .6s ease both;
}
.hide-cart{
	-webkit-animation: moveToRight .6s ease both;
	-moz-animation: moveToRight .6s ease both;
	animation: moveToRight .6s ease both;
}
@-webkit-keyframes moveFromRight {
	from { -webkit-transform: translateX(80%); }
}
@-webkit-keyframes moveToRight {
	to { -webkit-transform: translateX(80%); }
}
/*************************end of SIDE BAR SHOPPING CART *********************/